<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>borrow</title>
  <link rel="stylesheet" href="{{url_for('static',filename='borrow1.css')}}">
</head>
<body>
  <h1>Student Input Form</h1>
  <form action="borrow" method="POST">
    <label for="studentID">Student ID:</label>
    <input type="text" id="studentID" name="studentID" placeholder="Enter your student ID">

    <label for="bookGrade">Book Grade Level:</label>
    <select id="bookGrade" name="bookGrade">
      <option value="">Select Grade Level</option>
      <option value="9">9</option>
      <option value="10">10</option>
      <option value="11">11</option>
      <option value="12">12</option>
    </select>

    <label for="bookType">Book Type:</label>
    <select id="bookType" name="bookType">
      <option value="">Select Book Type</option>
      <option value="Extreme">Extreme</option>
      <option value="Solar">Solar</option>
      <option value="Furtu">Furtu</option>
    </select>

    <label for="subject">Subject:</label>
    <select id="subject" name="subject">
      <option value="">Select Subject</option>
      <option value="Mathematics">Mathematics</option>
      <option value="Physics">Physics</option>
      <option value="Biology">Biology</option>
      <option value="Chemistry">Chemistry</option>
      <option value="Afaan Oromo">Afaan Oromo</option>
    </select>

    <label for="timeSpent">Time Spent (day):</label>
    <input type="number" id="timeSpent" name="timeSpent" min="0" placeholder="Enter time spent">
    <label for="password1">Password:</label>
    <input type="text" id="pass" name="password"  placeholder="Enter your password">

    <button type="submit">Submit</button>
  </form>
</body>
</html>
