body
{
   margin: 0;
   padding: 0;
   font-family:sans-serif;
   background-size: cover;
   background-position: center;
   background-image: url("lib_bg.jpg");
}
.all
{
  display:flex;
  align-items:flex-start;
  justify-content:start;
  gap: 5px;
  height: 100%;
  padding:20px 300px;
  margin: 8% auto 0;


}
.heading
{
  font-size:27px;
  font-weight:bold;
  color: #1c8adb;
  margin-bottom: -10px;
}
.heading1{
color: #1c8adb;
margin-bottom: 30px;
}
.sign_in_form
{
   background-color:#FE9900;
   width:300px;
   border-radius: 0px 10px 10px 0px;
   box-shadow: 0 0 3px 0 rgba(0,0,0,0.3);
   padding:20px
   background: #fff;
   padding: 20px;
   text-align: center;
   min-height:300px
}
.welcome_board
{

   background-color:#FE9900;
   border-radius: 10px 0px 0px 10px;
   width:300px;
   box-shadow: 0 0 3px 0 rgba(0,0,0,0.3);
   text-align: center;
   min-height:426px

}
.input_box
{
border-radius: 20px;
padding:10px;
margin:10px 0;
width:90%;
border: 1px solid #999;
outline:none;
}
.sign-btn
{
   color:#fff;
   width:100%;
   padding:10px;
   border-radius:20px;
   font-size: 15px;
   margin:10px 0;
   border:none;
   outline:none;
   cursor:pointer;
   background-color: #1c8adb;
}
a
{
    text-decoration:none;
}
hr
{
    margin-top: 20px;
    width: 80%;
}
.or
{
    background:#FE9900;
    width:30px;
    margin: 19px auto 10px;
}
img{

    margin:60px;
}